  <!-- Модальное окно с каруселью внутри -->
<div class="modal fade" id="fullImgModal" tabindex="-1" role="dialog" aria-labelledby="fullImgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body modal-body-carousel">
            <div id="carouselFull" class="carousel slide carousel-fade">
                <div class="carousel-inner text-center">
                    {% for image in slider %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" class="img-fluid full-img" alt="full">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFull" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFull" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        </div>
    </div>
</div>