@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
  
body,
header {
    font-family: 'Montserrat', sans-serif;
}

.first-section {
    background-color: #FAFAFA;
    padding-top: 90px;
    padding-bottom: 90px;
}

.second-section {
    background-color: #3C3C3C;
    padding-top: 90px;
    padding-bottom: 90px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    gap: 30px;
    min-height: 90px;
}

.img-nasa {
    width: 120px;
    height: 34px;
}

.navbar-toggler {
    border-color: transparent;
    margin-right: 1em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 52, 43, 1.00)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    background-color: none;
}

.navbar-nav a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 19.5px;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
    color: white;
}

.btn-inter {
    color: #FFFFFF;
    background-color: #FF342B;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 19.5px;
    width: 88px;
    height: 44px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    gap: 10px;
    border-radius: 4px;
}

.btn-inter:hover {
    color: white;
    background-color: #b92821;
}

.title-index {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    max-width: 751px;
}

.text-index {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 30px;
    color: #3C3C3C;
    max-width: 751px;
}

.img-index {
    gap: 127px;
}

.img-shuttle,
.img-telescope,
.img-moon,
.img-medal {
    width: 64px;
    height: 64px;
}

.img-cosmos {
    border-radius: 40px;
    margin: auto;
}

.img-text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 26px;
}

.text-photos {
    font-size: 42px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.slider-images img {
    border-radius: 20%;
    margin: 0 auto;
}

.slider-main img {
    border-radius: 40px;
    margin: auto;
}

.slick-slide.slick-center img{
    border: 1px solid white;
}

.control-c {
    width: 56px;
    height: 56px;
}

img.slick-next {
    right: -60px;
}

img.slick-prev {
    left: -60px;
}

.slider-images.slick-initialized.slick-slider {
    width: 75%;
    text-align: center;
}

.slider-item {
    margin-left: 30px;
}

.full-img {
    object-fit: contain !important;
}

.modal-body-carousel {
    background-color: black;
}
  
@media (max-width: 768px) {
    .title-index {
        font-size: 36px;
    }
    .text-index {
        font-size: 16px;
    }
    .img-nasa{
        width: 80px;
        height: 23px;
    }
    .navbar {
        min-height: 70px;
    }
    .slider-main {
        margin: 0%;
    }
    .preview-img {
        width: 340px;
        height: 340px;
        margin-top: 1em;
        margin-bottom: 1em;
        object-fit: cover;
    }
    .slider-item-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
}